.mobile {
  position: relative;
  display: none;
  .iconBars {
    display: block;
    font-size: 40px;
    padding: 10px 0;
  }
  .input-nav-checkbox {
    display: none;
    &:checked ~ .wrapp {
      display: block;
    }
    &:checked ~ .content {
      transform: translateX(0%) !important;
    }
  }
  .wrapp {
    display: none;
    background-color: rgb(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fadeIn linear 3s;
    height: 101%;
  }
  .content {
    display: none;
  }
}

@media screen and (max-width: 1090px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 1090px) {
  .content {
    display: block !important;
    position: fixed;
    background-color: #202124;
    color: #ffff;
    width: -moz-fit-content;
    width: 275px;
    margin-left: auto;
    position: fixed;
    left: 0px;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
    height: 101%;
    top: 0;
    bottom: 0;
    .nameMobile {
      text-align: center;
      font-family: "Lobster", cursive;
      font-size: 30px;
      line-height: 60px;
    }
    .mainMobile {
      padding: 10px 0 0 20px;
      font-size: 15px;
      > div {
        padding: 8px 0;
        border-bottom: 1px solid #41403d;
        color: #bdc1c6;
      }
      .hotline {
        padding: 8px 0;
        line-height: 38px;
        font-size: 19px;
        a {
          color: #4599ff;
        }
      }
    }
  }
}
