.wrapp {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  .login {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      background-color: #3f3f41;
      min-width: 483px;
      min-height: 500px;
      margin: 0 auto;
      padding: 55px;
      border-radius: 10px;
      .main {
        width: 375px;
        margin: 0 auto;
        font-family: "IBM Plex Sans";
        font-size: 20px;
        .imageShow {
          background-size: cover;
          width: fit-content;
          height: 120px;
          margin: auto;
          border-radius: 50%;
          .image {
            width: auto;
            height: 120px;
            visibility: hidden;
          }
        }
        .title {
          text-align: center;
          font-size: 32px;
          padding: 30px 0;
          color: #fff;
        }
        .wrappInput {
          position: relative;
          input {
            margin-bottom: 30px;
          }
          .input-err {
            margin-bottom: 55px !important;
          }
          .p-err {
            position: absolute;
            bottom: -25px;
          }
          input:focus {
            outline: none;
          }
          input::placeholder {
            color: #ffffff;
          }
          input:focus::placeholder {
            color: transparent;
          }
          .input {
            color: #fff;
            display: block;
            width: 100%;
            border: 0px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.24);
            height: 45px;
            font-size: 18px;
            padding: 5px 28px 5px 30px;
            background: transparent;
            &:focus {
              padding-left: 5px;
            }
            &:focus ~ .focusInput::before {
              width: 100%;
            }
            &:focus ~ .focusInput svg {
              top: -20px;
              font-size: 16px;
            }
          }
          .has-value {
            padding-left: 5px;
          }

          .focusInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            svg {
              font-size: 22px;
              color: #fff;
              position: absolute;
              top: 10px;
              left: 0px;
              padding-left: 5px;
              transition: all 0.4s;
            }
          }
          .focusInput::before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            bottom: 0px;
            height: 2px;
            background: #fff;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
          }
          .has-value + .focusInput svg {
            top: -20px !important;
            font-size: 16px !important;
          }
        }
        .logginBtn {
          display: block;
          width: 100%;
          height: 45px;
          font-size: 17px;
          text-transform: uppercase;
          border: 0;
          padding: 0 5px;
          border-radius: 2px;
          background-color: #ed1b23;
          color: #fff;
          cursor: pointer;
          transition: opacity 0.15s ease-in-out;
          &:hover {
            opacity: 0.9;
          }
        }
        .logginBtn[disabled] {
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }
  }
}
.wrapp:before {
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}
