.account {
  .container {
    position: relative;
    &:hover {
      cursor: pointer;
      .popover {
        display: block !important;
      }
    }

    .user {
      color: white;
      justify-content: center;
      display: inline-block;
      font-size: 35px;
      padding: 15px 15px;
    }
    .popover {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      min-width: 135px;
      display: none;
      padding: 10px;
      > a + a {
        padding-top: 10px;
      }
      > a {
        display: block;
        text-decoration: none;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
    .popover::before {
      content: "";
      top: -35px;
      right: -1px;
      position: absolute;
      border-style: solid;
      border-width: 20px 33px;
      border-color: transparent transparent #fff transparent;
    }
  }
}

@media screen and (max-width: 1090px) {
  .account {
    display: none !important;
  }
}
