div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  .banner {
    width: 100%;
    max-height: calc(100vh - 5vh);
    position: relative;
    visibility: hidden;
  }
}
