.container {
  padding: 0 15px;
  .img {
    border-radius: 50%;
    width: auto;
    height: 57px;
    transition: 0.3s;
    position: relative;
    top: 4px;
  }
}

@media screen and (max-width: 1090px) {
  .img {
    height: 57px !important;
  }
}
