.wrapp {
  display: flex;
  margin: 0;
  > li {
    list-style: none;
    height: 100%;
    margin: 0 18px;
    > a {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 10px 0px;
      position: relative;
      transition: transform 0.3s ease;
    }
    .hoverable::before {
      position: absolute;
      content: "";
      bottom: 2px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #ca9c5e;
      transition: transform 0.3s;
      transform: scale(0, 1);
      transform-origin: right;
    }

    .hoverable:not(.active):hover {
      color: #ca9c5e;
    }
    .hoverable:not(.active):hover:before {
      transform: scale(1, 1);
      transform-origin: left;
    }
    .active {
      color: #ca9c5e;
    }
  }
}

@media screen and (max-width: 1090px) {
  .wrapp {
    display: none !important;
  }
}
