* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  display: block;
  min-width: 280px;
  background-color: #fff;
}

.root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 550px) {
  body {
    width: 100%;
    display: block;
  }
}
